.secao {
    display: grid;
    align-items: center;
}

.secao-horizontal {
    grid-template-rows: 120px auto;
}

.secao-vertical {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 2fr;
}

.secao__cartoes {
    display: grid;
    row-gap: 1rem;

    --gap-coluna: 1.25rem;

    column-gap: var(--gap-coluna);

    --gap-proporcional: var(--gap-coluna) * (var(--qtd-max-col) - 1) / var(--qtd-max-col);


    /* Largura mínima da coluna */
    --lar-min-col: 100%/2 - var(--gap-proporcional) ;

    /* Largura máxima da coluna */
    --max-lar-max-col: 100%/var(--qtd-max-col);
    --lar-max-col: max(var(--min-lar-max-col), var(--max-lar-max-col) - var(--gap-proporcional) );

    --min: min(var(--lar-min-col), var(--lar-max-col));

    grid-template-columns: repeat(
        auto-fit,
        minmax(
            var(--min),
            1fr
        )
    );
}

.secao-horizontal .secao__cartoes {
    --qtd-max-col: 3;
    --min-lar-max-col: 348px;
    /* display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            min(
                100%/2,
                max(
                    348px,
                    100%/3
                )
            ),
            1fr
        )
    ); */
}

.secao-vertical .secao__cartoes {
    grid-column: 1/3;
    --qtd-max-col: 6;
    --min-lar-max-col: 165px;
    /* display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            min(
                100%/2,
                max(
                    165px,
                    100%/6
                )
            ),
            1fr
        )
    ); */
}